:root {
    --c1: #524267;
    --c2: #5D9285;
    --scrollbar-width: 10px;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 10px;
    transition: background-color 1000ms linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.8);
}

body {
    overflow-x: hidden;
    background-color: rgb(11,9,17);
    background: linear-gradient(180deg, rgb(10, 8, 17) 0%, rgb(49, 33, 63) 70%, rgb(51, 33, 65) 100%);
}

.page {
    width: calc(100vw - var(--scrollbar-width));
}

.header__title {
    padding-bottom: 4rem;
    text-align: center;
}

.header__title__text {
    display: inline-block;
    margin: 6rem 0 0 0;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 6.4rem;
    letter-spacing: 4px;
    line-height: 1.5;
    text-shadow: 0 0 2px #FFF, 2px 2px 12px #FFF;
}

.store {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.store__items {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.store__items__popup {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    display: grid;
    justify-items: end;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222;
    box-shadow: 0 1px 2rem rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.btn-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

.btn-fullscreen:hover {
    cursor: pointer;
}

.corner {
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
}

.corner-1 {
    transform: translate(-0.4rem, -0.4rem);
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.corner-2 {
    transform: translate(0.4rem, -0.4rem);
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.corner-3 {
    transform: translate(0.4rem, 0.4rem);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.corner-4 {
    transform: translate(-0.4rem, 0.4rem);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.store__items__popup__body {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr min-content 1fr 1fr 1fr;
    background-color: rgba(34, 34, 34, 0.95);
    font-family: 'EB Garamond', serif;
    color: #FFF;
}

.store__items__popup__title {
    grid-row: 1 / 2;
    justify-self: center;
    margin: 0.4rem 0;
    font-size: 1.8rem;
}

.store__items__popup__btn-close {
    grid-row: 1 / 2;
    justify-self: end;
    padding: 0.6rem;
}

.store__items__popup__btn-close:hover {
    cursor: pointer;
}

.store__items__popup__description {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 3rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 500;
}

.store__items__popup__disclaimer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin: 3rem;
    font-style: italic;
}

.store__items__popup__pricetag {
    grid-row: 4 / 5;
    justify-self: end;
    align-self: end;
    margin: 0.6rem 1rem;
}

.store__items__popup__form {
    grid-row: 5 / 6;
    align-self: end;
    justify-self: end;
}

.store__items__grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 0;
    justify-items: center;
    align-items: center;
    padding: 2rem 0 6rem 0;
}

.store__items__grid__item {
    width: 275px;
    height: 375px;
    border: 0.3rem solid #FEFEFE;
    box-shadow: 0 0 12px 1px #FFF;
    background-color: #7a6299;
    background-image: url("../img/banner-blue50.jpg");
    background-size: cover;
    opacity: 1;
    animation: fade-in 900ms linear;
    transition: transform 100ms ease-out;
}

.store__items__grid__item:hover, .store__items__grid__item:focus {
    transform: scale(1.02);
    cursor: pointer;
}


.store__description {
    background-color: #EEE;
    box-shadow: 0 0 4px 0 #000 inset;
}

.store__description__text {
    margin: 6rem;
    color: #111;
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: 500;
}


@media only screen and (max-width: 1100px) {
    ::-webkit-scrollbar {
        width: 0;
    }

    .page {
        width: 100vw;
    }

    .store__items__grid {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

    .store__items__popup {
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .store__items__popup__image {
        max-width: 100%;
        max-height: 50%;
    }
}

@media only screen and (max-width: 650px) {
    .header__title__text {
        margin: 3rem 0 1rem 0;
        font-size: 2.4rem;
        font-weight: bold;
    }
    .store__items__grid {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .store__items__grid__item {
        width: 200px;
        height: 300px;
    }
    .store__description__text {
        margin: 1rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nodisplay {
    display: none !important;
}