:root {
    --c1: rgb(82, 66, 103);
    --c2: rgb(93, 146, 133);
    --scrollbar-width: 10px;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(150, 150, 150, 0.4);
    border-radius: 10px;
    transition: background-color 1000ms linear;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.8);
}

body {
    overflow-x: hidden;
    background-color: rgb(11,9,17);
    background: linear-gradient(180deg, rgb(10, 8, 17) 0%, rgb(49, 33, 63) 70%, rgb(51, 33, 65) 100%);
}

.page {
    position: relative;
    width: calc(100vw - var(--scrollbar-width));
}

.header__title {
    padding-bottom: 4rem;
    text-align: center;
}

.header__title__text {
    display: inline-block;
    margin: 6rem 0 0 0;
    color: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 6.4rem;
    letter-spacing: 4px;
    line-height: 1.5;
    text-shadow: 0 0 2px #FFF, 2px 2px 12px #FFF;
}

.store {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.store__items {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-add-item {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background-image: url("../img/add_button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-add-item:hover {
    cursor: pointer;
}

.add-item-container {
    z-index: 2;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.add-item-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #111;
    color: #EEE;
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    border: 1px solid white;
}

.add-item-form > * {
    margin: 0.2rem 0;
}

/* Store popup */
.store__popup__container {
    z-index: 2;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.store__items__popup {
    z-index: 2;
    position: fixed;
    inset: 10%;
    display: grid;
    justify-items: end;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #222; */
    background-color: rgba(20, 17, 19, 1);
    box-shadow: 0 1px 2rem rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.btn-fullscreen {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("../img/fullscreen_icon_outline.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-fullscreen:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px #FFF, 0 0 20px #FFF;
}

.store__items__popup__arrow-left {
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 2rem;
    height: 3rem;
    background-image: url("../img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.store__items__popup__arrow-right {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 2rem;
    height: 3rem;
    background-image: url("../img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.store__items__popup__arrow-left:hover, .store__items__popup__arrow-right:hover {
    cursor: pointer;
}

.store__items__popup__body {
    z-index: 2;
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto auto auto;
    /* background-color: rgba(34, 34, 34, 0.97); */
    background-color: rgba(20, 17, 19, 0.97);
    font-family: 'EB Garamond', serif;
    color: #EEE;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.8);
}

.store__items__popup__title {
    grid-row: 1 / 2;
    justify-self: center;
    margin: 0.4rem 0;
    font-size: 1.8rem;
}

.store__items__popup__btn-close {
    grid-row: 1 / 2;
    justify-self: end;
    padding: 0.6rem;
}

.store__items__popup__btn-close:hover {
    cursor: pointer;
}

.store__items__popup__description {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 3rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 500;
}

.store__items__popup__disclaimer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
    margin: 0 0 0.8rem 0;
    font-style: italic;
}

.store__items__popup__pricetag {
    grid-row: 4 / 5;
    justify-self: end;
    align-self: end;
    margin: 0.6rem 0.2rem;
    font-size: 1.2rem;
}

.store__items__popup__form {
    grid-row: 5 / 6;
    align-self: center;
    justify-self: end;
    margin-bottom: 0.4rem;
}

.store__items__popup__form > input#input-email {
    padding: 0.6rem;
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    border: none;
    outline: none;
}

.store__items__popup__btn-reserve {
    padding: 0.6rem;
    font-family: 'EB Garamond', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #EEE;
    background-color: #5D9285;
    border: none;
}

.store__items__popup__btn-reserve:hover {
    cursor: pointer;
}

/* Store items */
.store__items__grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 0;
    justify-items: center;
    align-items: center;
    padding: 2rem 0 6rem 0;
}

.store__items__grid__item {
    position: relative;
    width: 275px;
    height: 375px;
    border: 0.3rem solid #FEFEFE;
    box-shadow: 0 0 12px 1px #FFF;
    background-color: #7a6299;
    background-image: url("../img/banner-blue50.jpg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    animation: fade-in 900ms linear;
    transition: transform 100ms ease-out;
}

.reserved::after {
    content: "reserved";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-image: url("../img/reserved_bg.png");
    background-size: cover;
    color: #FFF;
    font-size: 2rem;
    font-family: "EB-Garamond", serif;
    letter-spacing: 2px;
    text-shadow: 0 0 4px black;
    text-transform: capitalize;
}

.store__items__grid__item:hover, .store__items__grid__item:focus {
    transform: scale(1.02);
    cursor: pointer;
}

.store__items__grid__item__btn-delete {
    z-index: 1;
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/delete_icon_red_border.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.store__items__grid__item__btn-reset {
    z-index: 1;
    position: absolute;
    bottom: 0.4rem;
    right: 0.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/reset_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Store text */
.store__description {
    position: relative;
    background-color: #EEE;
    box-shadow: 0 0 4px 0 #000 inset;
}

.btn-edit-store-text {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("../img/edit_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-edit-store-text:hover {
    cursor: pointer;
}

.edit-store-text {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.edit-store-text > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store__description__text {
    margin: 6rem;
    color: #111;
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.6rem;
    font-weight: 500;
}

.btn-admin-login {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url("../img/admin_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
}

.btn-admin-login:hover {
    cursor: pointer;
}

.admin-login {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}


@media only screen and (max-width: 1100px) {
    ::-webkit-scrollbar {
        width: 0;
    }

    .page {
        width: 100vw;
    }

    .store__items__grid {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }

    .store__items__popup {
        inset: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .header__title__text {
        margin: 3rem 0 1rem 0;
        font-size: 2.4rem;
        font-weight: bold;
    }
    .store__items__grid {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .store__items__grid__item {
        width: 200px;
        height: 300px;
    }
    .store__description__text {
        margin: 1rem;
    }

    /* Popup */
    .store__items__popup {
        inset: 0;
    }

    .btn-fullscreen {
        z-index: 3;
    }

    .store__items__popup__body {
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nodisplay {
    display: none !important;
}

.admin {
    display: none !important;
}